<a href="https://colab.research.google.com/github/DhanashriShanbhag/IMDB-WIKI-Dataset/blob/main/Read_IMDB_WIKI_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [3]:
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
!cp drive/'My Drive'/imdb_crop.tar .
!cp drive/'My Drive'/wiki_crop.tar .

In [6]:
!tar -xf wiki_crop.tar
!tar -xf imdb_crop.tar

In [7]:
def imShow(path):
  import cv2
  import matplotlib.pyplot as plt
  %matplotlib inline

  image = cv2.imread(path)
  height, width = image.shape[:2]
  resized_image = cv2.resize(image,(3*width, 3*height), interpolation = cv2.INTER_CUBIC)

  fig = plt.gcf()
  fig.set_size_inches(18, 10)
  plt.axis("off")
  #plt.rcParams['figure.figsize'] = [10, 5]
  plt.imshow(cv2.cvtColor(resized_image, cv2.COLOR_BGR2RGB))

In [8]:
def imShow(image):
  import cv2
  import matplotlib.pyplot as plt
  %matplotlib inline

  height, width = image.shape[:2]
  resized_image = cv2.resize(image,(3*width, 3*height), interpolation = cv2.INTER_CUBIC)

  fig = plt.gcf()
  fig.set_size_inches(18, 10)
  plt.axis("off")
  #plt.rcParams['figure.figsize'] = [10, 5]
  plt.imshow(cv2.cvtColor(resized_image, cv2.COLOR_BGR2RGB))

In [9]:
import os

ages = os.scandir('wiki_crop')
length = 0
for age in ages:

  if '.mat' not in str(age.path):


    length+=len(os.listdir(age.path))

print(length)

62328

In [10]:
import os

ages = os.scandir('imdb_crop')
length = 0
for age in ages:

   if '.mat' not in str(age.path):


    length+=len(os.listdir(age.path))

print(length)

460723

In [11]:
import scipy.io
imdbMat = scipy.io.loadmat('imdb_crop/imdb.mat')
imdbPlace = imdbMat['imdb'][0][0]
print(imdbPlace)
print(len(imdbPlace))
for item in imdbPlace:
  print(item)
  print(len(item[0]))

(array([[693726, 693726, 693726, ..., 726831, 726831, 726831]], dtype=int32), array([[1968, 1970, 1968, ..., 2011, 2011, 2011]], dtype=uint16), array([[array(['01/nm0000001_rm124825600_1899-5-10_1968.jpg'], dtype='<U43'),
        array(['01/nm0000001_rm3343756032_1899-5-10_1970.jpg'], dtype='<U44'),
        array(['01/nm0000001_rm577153792_1899-5-10_1968.jpg'], dtype='<U43'),
        ...,
        array(['08/nm3994408_rm926592512_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm943369728_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm976924160_1989-12-29_2011.jpg'], dtype='<U44')]],
      dtype=object), array([[1., 1., 1., ..., 0., 0., 0.]]), array([[array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'), ...,
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9')]], dtype=object), array([[array([[1072.926,  161.838, 1214.784,  303.696]]),
        array([[477.184, 100.352, 622.592, 245.76 ]]),
        array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]),
        ..., array([[  1,   1, 453, 640]], dtype=uint16),
        array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]]),
        array([[457.524,  41.748, 518.016, 102.24 ]])]], dtype=object), array([[1.45969291, 2.5431976 , 3.45557949, ...,       -inf, 4.45072452,
        2.13350269]]), array([[1.11897336, 1.85200773, 2.98566022, ...,        nan,        nan,
               nan]]), array([[array(["'Lee' George Quinones"], dtype='<U21'),
        array(["'Weird Al' Yankovic"], dtype='<U19'),
        array(['2 Chainz'], dtype='<U8'), ...,
        array(['Éric Caravaca'], dtype='<U13'),
        array(['Ólafur Darri Ólafsson'], dtype='<U21'),
        array(['Óscar Jaenada'], dtype='<U13')]], dtype=object), array([[6488, 6488, 6488, ..., 8410, 8410, 8410]], dtype=uint16))
10
[[693726 693726 693726 ... 726831 726831 726831]]
460723
[[1968 1970 1968 ... 2011 2011 2011]]
460723
[[array(['01/nm0000001_rm124825600_1899-5-10_1968.jpg'], dtype='<U43')
  array(['01/nm0000001_rm3343756032_1899-5-10_1970.jpg'], dtype='<U44')
  array(['01/nm0000001_rm577153792_1899-5-10_1968.jpg'], dtype='<U43')
  ...
  array(['08/nm3994408_rm926592512_1989-12-29_2011.jpg'], dtype='<U44')
  array(['08/nm3994408_rm943369728_1989-12-29_2011.jpg'], dtype='<U44')
  array(['08/nm3994408_rm976924160_1989-12-29_2011.jpg'], dtype='<U44')]]
460723
[[1. 1. 1. ... 0. 0. 0.]]
460723
[[array(['Fred Astaire'], dtype='<U12')
  array(['Fred Astaire'], dtype='<U12')
  array(['Fred Astaire'], dtype='<U12') ...
  array(['Jane Levy'], dtype='<U9') array(['Jane Levy'], dtype='<U9')
  array(['Jane Levy'], dtype='<U9')]]
460723
[[array([[1072.926,  161.838, 1214.784,  303.696]])
  array([[477.184, 100.352, 622.592, 245.76 ]])
  array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]) ...
  array([[  1,   1, 453, 640]], dtype=uint16)
  array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]])
  array([[457.524,  41.748, 518.016, 102.24 ]])]]
460723
[[1.45969291 2.5431976  3.45557949 ...       -inf 4.45072452 2.13350269]]
460723
[[1.11897336 1.85200773 2.98566022 ...        nan        nan        nan]]
460723
[[array(["'Lee' George Quinones"], dtype='<U21')
  array(["'Weird Al' Yankovic"], dtype='<U19')
  array(['2 Chainz'], dtype='<U8') ...
  array(['Éric Caravaca'], dtype='<U13')
  array(['Ólafur Darri Ólafsson'], dtype='<U21')
  array(['Óscar Jaenada'], dtype='<U13')]]
20284
[[6488 6488 6488 ... 8410 8410 8410]]
460723

In [12]:
wikiMat = scipy.io.loadmat('wiki_crop/wiki.mat')
wikiPlace = wikiMat['wiki'][0][0]
print(wikiPlace)
print(len(wikiPlace))
for item in wikiPlace:
  print(item)
  print(len(item[0]))

(array([[723671, 703186, 711677, ..., 720620, 723893, 713846]], dtype=int32), array([[2009, 1964, 2008, ..., 2013, 2011, 2008]], dtype=uint16), array([[array(['17/10000217_1981-05-05_2009.jpg'], dtype='<U31'),
        array(['48/10000548_1925-04-04_1964.jpg'], dtype='<U31'),
        array(['12/100012_1948-07-03_2008.jpg'], dtype='<U29'), ...,
        array(['09/9998109_1972-12-27_2013.jpg'], dtype='<U30'),
        array(['00/9999400_1981-12-13_2011.jpg'], dtype='<U30'),
        array(['80/999980_1954-06-11_2008.jpg'], dtype='<U29')]],
      dtype=object), array([[1., 1., 1., ..., 1., 1., 0.]]), array([[array(['Sami Jauhojärvi'], dtype='<U15'),
        array(['Dettmar Cramer'], dtype='<U14'),
        array(['Marc Okrand'], dtype='<U11'), ...,
        array(['Michael Wiesinger'], dtype='<U17'),
        array(['Johann Grugger'], dtype='<U14'),
        array(['Greta Van Susteren'], dtype='<U18')]], dtype=object), array([[array([[111.29109473, 111.29109473, 252.66993082, 252.66993082]]),
        array([[252.4833023 , 126.68165115, 354.53192596, 228.73027481]]),
        array([[113.52, 169.84, 366.08, 422.4 ]]), ...,
        array([[169.88839786,  74.31669472, 235.2534231 , 139.68171997]]),
        array([[1, 1, 1, 1]], dtype=uint8),
        array([[ 92.72633235,  62.0435549 , 230.12083087, 199.43805342]])]],
      dtype=object), array([[4.30096239, 2.6456395 , 4.32932883, ..., 3.49430317,       -inf,
        5.48691655]]), array([[       nan, 1.94924791,        nan, ...,        nan,        nan,
               nan]]))
8
[[723671 703186 711677 ... 720620 723893 713846]]
62328
[[2009 1964 2008 ... 2013 2011 2008]]
62328
[[array(['17/10000217_1981-05-05_2009.jpg'], dtype='<U31')
  array(['48/10000548_1925-04-04_1964.jpg'], dtype='<U31')
  array(['12/100012_1948-07-03_2008.jpg'], dtype='<U29') ...
  array(['09/9998109_1972-12-27_2013.jpg'], dtype='<U30')
  array(['00/9999400_1981-12-13_2011.jpg'], dtype='<U30')
  array(['80/999980_1954-06-11_2008.jpg'], dtype='<U29')]]
62328
[[1. 1. 1. ... 1. 1. 0.]]
62328
[[array(['Sami Jauhojärvi'], dtype='<U15')
  array(['Dettmar Cramer'], dtype='<U14')
  array(['Marc Okrand'], dtype='<U11') ...
  array(['Michael Wiesinger'], dtype='<U17')
  array(['Johann Grugger'], dtype='<U14')
  array(['Greta Van Susteren'], dtype='<U18')]]
62328
[[array([[111.29109473, 111.29109473, 252.66993082, 252.66993082]])
  array([[252.4833023 , 126.68165115, 354.53192596, 228.73027481]])
  array([[113.52, 169.84, 366.08, 422.4 ]]) ...
  array([[169.88839786,  74.31669472, 235.2534231 , 139.68171997]])
  array([[1, 1, 1, 1]], dtype=uint8)
  array([[ 92.72633235,  62.0435549 , 230.12083087, 199.43805342]])]]
62328
[[4.30096239 2.6456395  4.32932883 ... 3.49430317       -inf 5.48691655]]
62328
[[       nan 1.94924791        nan ...        nan        nan        nan]]
62328

In [14]:
place = imdbPlace
where='imdb_crop'

total = 0



for i in range(460723):

  if i % 10000 ==0:
    print(i)

  bYear = int(place[0][0][i]/365) #birth year
  taken = place[1][0][i] #photo taken
  path = place[2][0][i][0]
  gender = place[3][0][i] # Female/Male
  name = place[4][0][i] #Name
  faceBox= place[5][0][i] # Face coords


  faceScore = place[6][0][i] #Face score
  secFaceScore = place[7][0][i] #Sec face score

  #Calculating shit
  age = taken - bYear

  faceScore = str(faceScore)
  secFaceScore = str(secFaceScore)



  if 'n' not in faceScore: # n as in Inf; if true, implies that there isn't a face in the image

    if 'a' in secFaceScore: #a as in NaN; implies that no second face was found

      if age >= 0:

        try:
          gender = int(gender)
          total +=1

          if i > 1500:

            print('--------------------')
            print(i)
            print(bYear)
            print(taken)
            print("Age", age)
            print("GENDER", gender)
            print(faceBox)
            print(faceScore)
            print(secFaceScore)

            imShow(os.path.join(where,path))
            break

        except:
          print('Failed with gender')
          continue




print(total)

Streaming output truncated to the last 5000 lines.
[[481.13395743 427.90218438 958.17191486 904.94014181]]
5.021429422199042
nan
Failed with gender
--------------------
459545
1982
2007
Age 25
GENDER 0
[[ 62.3043066   72.60702437 154.54076651 164.84348428]]
3.9941952604712636
nan
Failed with gender
--------------------
459546
1982
2007
Age 25
GENDER 0
[[ 79.34589674  49.79218546 167.47103057 137.91731929]]
3.176813189796338
nan
Failed with gender
--------------------
459547
1982
2010
Age 28
GENDER 0
[[147.14259778 108.61296678 215.76593357 177.23630258]]
2.859613845221139
nan
Failed with gender
--------------------
459549
1982
2010
Age 28
GENDER 0
[[149.85  149.85  197.136 197.136]]
2.111057866266452
nan
Failed with gender
--------------------
459550
1982
2002
Age 20
GENDER 0
[[102.07812425  41.1156497  138.18160898  77.21913443]]
2.9435703803879503
nan
Failed with gender
--------------------
459551
1982
2002
Age 20
GENDER 0
[[ 92.41319526  43.7416213  140.60676923  91.93519526]]
3.157088082576512
nan
Failed with gender
--------------------
459552
1982
2002
Age 20
GENDER 0
[[116.53534427  34.36205874 159.51284837  77.33956285]]
3.975053664912216
nan
Failed with gender
--------------------
459553
1982
2002
Age 20
GENDER 0
[[ 80.478 118.35  117.824 155.696]]
1.4463924237821988
nan
Failed with gender
--------------------
459555
1982
2002
Age 20
GENDER 0
[[ 93.05205988  37.50282395 134.24398683  78.6947509 ]]
3.1443029228137838
nan
Failed with gender
--------------------
459556
1982
2002
Age 20
GENDER 0
[[ 94.73564515  45.1221477  138.91779285  89.3042954 ]]
3.0287558064433813
nan
Failed with gender
--------------------
459557
1982
2011
Age 29
GENDER 0
[[526.336 264.192 819.2   557.056]]
4.808744031449336
nan
Failed with gender
--------------------
459558
1982
2007
Age 25
GENDER 0
[[133.02946306  49.60639373 176.66061741  93.23754808]]
2.7344042910585373
nan
Failed with gender
--------------------
459560
1975
1999
Age 24
GENDER 1
[[269.6 103.2 326.4 160. ]]
2.7265392208808734
nan
Failed with gender
--------------------
459562
1975
1999
Age 24
GENDER 1
[[128.8 103.2 358.4 332.8]]
3.2340190995652702
nan
Failed with gender
--------------------
459572
1975
1999
Age 24
GENDER 1
[[ 737.08779874  564.13725786 1124.17851573  951.22797484]]
2.6519688551279
nan
Failed with gender
--------------------
459577
1975
1999
Age 24
GENDER 1
[[294.86677888  74.31669472 426.39682937 205.84674522]]
2.2692923636703153
nan
Failed with gender
--------------------
459580
1975
1999
Age 24
GENDER 1
[[154.4 116.  268.8 230.4]]
4.319702365898031
nan
Failed with gender
--------------------
459585
1975
2007
Age 32
GENDER 1
[[128.156  89.948 241.984 203.776]]
1.3178887102252075
nan
Failed with gender
--------------------
459586
1975
1999
Age 24
GENDER 1
[[408.01902551  44.47346702 538.04742657 174.50186808]]
3.7752114809160235
nan
Failed with gender
--------------------
459587
1975
1999
Age 24
GENDER 1
[[ 97.80586026 117.20703231 271.61640872 291.01758077]]
1.7251728413330245
nan
Failed with gender
--------------------
459588
1975
2007
Age 32
GENDER 1
[[134.524  51.74  191.04  108.256]]
2.1157859708184064
nan
Failed with gender
--------------------
459590
1975
1999
Age 24
GENDER 1
[[378.4  45.6 435.2 102.4]]
1.8270175324851676
nan
Failed with gender
--------------------
459599
1975
2003
Age 28
GENDER 1
[[137.9870032  137.9870032  260.65530609 260.65530609]]
4.519603295714708
nan
Failed with gender
--------------------
459600
1981
2012
Age 31
GENDER 0
[[604.29676314 190.25073848 771.63122778 357.58520312]]
2.256117991775825
nan
Failed with gender
Failed with gender
--------------------
459606
1984
2009
Age 25
GENDER 0
[[ 64.30867104  96.19600656 207.26768087 239.15501639]]
5.895827083255573
nan
Failed with gender
--------------------
459608
1984
2008
Age 24
GENDER 0
[[ 76.74278468  76.74278468 213.23899711 213.23899711]]
4.784285658716741
nan
Failed with gender
--------------------
459612
1984
2010
Age 26
GENDER 0
[[ 55.63320257  96.9606045  179.08540835 220.41281028]]
4.326475048563584
nan
Failed with gender
--------------------
459613
1984
2008
Age 24
GENDER 0
[[ 67.59958954 117.81628169 217.60566599 267.82235815]]
4.2072575295013435
nan
Failed with gender
--------------------
459614
1984
2011
Age 27
GENDER 0
[[ 378.45347697  378.45347697 1053.9353355  1053.9353355 ]]
5.609333618364557
nan
Failed with gender
--------------------
459619
1984
2009
Age 25
GENDER 0
[[1060.90117858  304.48605102 1399.36798598  642.95285843]]
4.318449198755534
nan
Failed with gender
--------------------
459627
1984
2011
Age 27
GENDER 0
[[ 613.52050133  491.22600107 1161.79775253 1039.50325227]]
1.2533719859522745
nan
Failed with gender
--------------------
459633
1984
2011
Age 27
GENDER 0
[[ 244.10084082  566.83796191  968.21136328 1290.94848437]]
5.813500209172616
nan
Failed with gender
--------------------
459637
1984
2007
Age 23
GENDER 0
[[197.802 101.898 245.088 149.184]]
1.7649451484451049
nan
Failed with gender
--------------------
459638
1984
2007
Age 23
GENDER 0
[[240.426  64.602 287.712 111.888]]
1.6967955239151509
nan
Failed with gender
--------------------
459639
1997
2002
Age 5
GENDER 0
[[ 94.8660647   38.27642588 136.75829382  80.168655  ]]
1.3599934289066358
nan
Failed with gender
--------------------
459640
1997
2002
Age 5
GENDER 0
[[ 72.77347288  60.73956073 180.50868219 168.47477005]]
3.036592060645197
nan
Failed with gender
--------------------
459641
1992
2010
Age 18
GENDER 0
[[2451  339 2664  552]]
1.7839195810113637
nan
Failed with gender
--------------------
459652
1987
2011
Age 24
GENDER 0
[[1314  242 1456  384]]
2.9199390814754214
nan
Failed with gender
--------------------
459657
1987
2011
Age 24
GENDER 0
[[546 562 688 704]]
2.2687704459246976
nan
Failed with gender
--------------------
459658
1987
2011
Age 24
GENDER 0
[[442.28702511 117.90037503 648.77330017 324.38665008]]
3.4383927850576885
nan
Failed with gender
--------------------
459667
1987
2008
Age 21
GENDER 0
[[163.81740239 143.45272709 346.19948007 325.83480477]]
4.078259248330817
nan
Failed with gender
--------------------
459671
1987
2011
Age 24
GENDER 0
[[ 946  178 1088  320]]
1.9956023422564952
nan
Failed with gender
--------------------
459680
1987
2013
Age 26
GENDER 0
[[510.1953939  152.61019079 677.52985854 319.94465542]]
2.1588178492256818
nan
Failed with gender
--------------------
459682
1987
2011
Age 24
GENDER 0
[[612.64762902 179.28479552 787.93242454 354.56959104]]
2.1777247110392244
nan
Failed with gender
--------------------
459684
1987
2013
Age 26
GENDER 0
[[1460.224  460.8   1605.632  606.208]]
0.8766256642169837
nan
Failed with gender
--------------------
459692
1987
2008
Age 21
GENDER 0
[[ 88.86430871  88.86430871 176.66061741 176.66061741]]
5.7402843003548325
nan
Failed with gender
--------------------
459693
1987
2011
Age 24
GENDER 0
[[550.74801282 344.96750801 857.41877003 651.63826522]]
4.989960228991175
nan
Failed with gender
--------------------
459697
1987
2011
Age 24
GENDER 0
[[382.0182783  297.56977201 760.03655661 675.58805032]]
4.43472069445523
nan
Failed with gender
--------------------
459699
1987
2011
Age 24
GENDER 0
[[754 290 896 432]]
3.8989630137729145
nan
Failed with gender
--------------------
459701
1987
2011
Age 24
GENDER 0
[[419.99878021 360.28466875 955.42578333 895.71167188]]
5.744376662699557
nan
Failed with gender
--------------------
459711
1987
2013
Age 26
GENDER 0
[[627.65082516 210.58227505 834.13710021 417.06855011]]
4.580753505423785
nan
Failed with gender
--------------------
459716
1987
2008
Age 21
GENDER 0
[[120.15   60.342 196.512 136.704]]
2.7715822782738817
nan
Failed with gender
--------------------
459717
1987
2008
Age 21
GENDER 0
[[139.48896778 121.36440677 193.32865083 175.20408982]]
0.8712970893410131
nan
Failed with gender
--------------------
459718
1987
2008
Age 21
GENDER 0
[[ 94.518 103.062 170.88  179.424]]
5.167752316864869
nan
Failed with gender
--------------------
459722
1987
2012
Age 25
GENDER 0
[[581.52590154 212.76723692 737.51732923 368.75866461]]
4.009238835389377
nan
Failed with gender
--------------------
459723
1987
2013
Age 26
GENDER 0
[[329.728 395.264 917.504 983.04 ]]
5.555266526420149
nan
Failed with gender
--------------------
459725
1987
2011
Age 24
GENDER 0
[[329.728 395.264 917.504 983.04 ]]
2.845843028200579
nan
Failed with gender
--------------------
459727
1987
2013
Age 26
GENDER 0
[[1477.08265846  247.88710974 1633.07408615  403.87853743]]
1.0022771739670504
nan
Failed with gender
--------------------
459729
1987
2012
Age 25
GENDER 0
[[505.30823703 208.89397995 770.6770684  474.26281132]]
3.14750721875488
nan
Failed with gender
--------------------
459732
1987
2011
Age 24
GENDER 0
[[306 514 448 656]]
3.0653658189249864
nan
Failed with gender
--------------------
459733
1987
2008
Age 21
GENDER 0
[[ 94.024  65.992 177.536 149.504]]
5.596396999223983
nan
Failed with gender
--------------------
459737
1987
2011
Age 24
GENDER 0
[[626 226 768 368]]
2.9631767188279285
nan
Failed with gender
--------------------
459738
1987
2007
Age 20
GENDER 0
[[100.08176433  41.98306847 136.94692595  78.84823009]]
2.9418624454102296
nan
Failed with gender
--------------------
459740
1987
2009
Age 22
GENDER 0
[[330.14917453 110.58305818 405.35283019 185.78671384]]
2.8983998336231998
nan
Failed with gender
--------------------
459751
1987
2013
Age 26
GENDER 0
[[368.9315008  430.07875093 917.208752   978.35600213]]
4.211159393207776
nan
Failed with gender
--------------------
459754
1987
2013
Age 26
GENDER 0
[[566.65621545 227.89128618 903.37314472 564.60821545]]
4.332063099015814
nan
Failed with gender
--------------------
459756
1987
2011
Age 24
GENDER 0
[[ 946  146 1088  288]]
2.5326963953315254
nan
Failed with gender
--------------------
459759
1987
2011
Age 24
GENDER 0
[[572.96438229 336.70284479 748.16153541 511.89999791]]
2.162673192954869
nan
Failed with gender
--------------------
459760
1987
2011
Age 24
GENDER 0
[[740.92443003 339.79402516 928.93356918 527.80316431]]
3.252867932483483
nan
Failed with gender
--------------------
459762
1987
2011
Age 24
GENDER 0
[[632.53809167 196.01172051 848.80127725 412.27490609]]
3.1605170098568416
nan
Failed with gender
--------------------
459764
1987
2011
Age 24
GENDER 0
[[786 226 928 368]]
3.2799904753647953
nan
Failed with gender
--------------------
459770
1987
2013
Age 26
GENDER 0
[[473.11864869 244.48172811 600.17191652 371.53499594]]
2.6355603476396294
nan
Failed with gender
--------------------
459771
1987
2007
Age 20
GENDER 0
[[144.9    83.076 236.992 175.168]]
4.428192211421838
nan
Failed with gender
--------------------
459776
1987
2013
Age 26
GENDER 0
[[ 647.71900587  200.71600181 1092.67400993  645.67100587]]
5.0308375304573705
nan
Failed with gender
--------------------
459780
1987
2013
Age 26
GENDER 0
[[558.13940014 280.09370007 764.6256752  486.57997512]]
1.9263814670370207
nan
Failed with gender
--------------------
459783
1987
2009
Age 22
GENDER 0
[[106.23858597  46.49364607 147.06446744  87.31952754]]
3.9118703946160105
nan
Failed with gender
--------------------
459788
1987
2011
Age 24
GENDER 0
[[209.9993901   90.57116719 343.35614089 223.92791797]]
3.7853015484615486
nan
Failed with gender
--------------------
459791
1987
2015
Age 28
GENDER 0
[[566.65621545 265.53183388 733.99068008 432.86629851]]
3.999661426421394
nan
Failed with gender
--------------------
459795
1987
2011
Age 24
GENDER 0
[[ 882.52605022  372.77560009 1297.54660033  787.7961502 ]]
2.825879010157064
nan
Failed with gender
--------------------
459798
1987
2009
Age 22
GENDER 0
[[ 68.16237417  85.06146771 219.68821606 236.5873096 ]]
5.509329912717858
nan
Failed with gender
--------------------
459800
1987
2011
Age 24
GENDER 0
[[1408.16678285  224.92888021 1560.50216145  377.26425881]]
3.5046582332847556
nan
Failed with gender
--------------------
459801
1987
2011
Age 24
GENDER 0
[[594 178 736 320]]
3.1081336891679827
nan
Failed with gender
--------------------
459807
1987
2009
Age 22
GENDER 0
[[ 95.74100066  64.03066711 237.82750165 206.1171681 ]]
3.848902520065919
nan
Failed with gender
--------------------
459808
1987
2012
Age 25
GENDER 0
[[ 486.15368164  405.46940136 1210.26420409 1129.57992382]]
5.912887440447208
nan
Failed with gender
--------------------
459810
1987
2008
Age 21
GENDER 0
[[108.23  57.67 164.32 113.76]]
2.1878054228143817
nan
Failed with gender
--------------------
459814
1987
2009
Age 22
GENDER 0
[[ 45.45518378  90.30036756 246.64851078 291.49369456]]
5.393749819353181
nan
Failed with gender
--------------------
459816
1987
2008
Age 21
GENDER 0
[[245.94703862 145.65961373 345.43446352 245.14703862]]
4.355208767358731
nan
Failed with gender
--------------------
459822
1987
2007
Age 20
GENDER 0
[[ 92.10632464  46.32016232 173.98741681 128.20125449]]
5.035007157656629
nan
Failed with gender
--------------------
459825
1987
2011
Age 24
GENDER 0
[[658 210 800 352]]
1.4763912404305435
nan
Failed with gender
--------------------
459826
1987
2011
Age 24
GENDER 0
[[602.19313902 362.11588341 754.52851763 514.45126202]]
1.2784951238567166
nan
Failed with gender
--------------------
459828
1987
2011
Age 24
GENDER 0
[[642 258 928 544]]
2.289908367483193
nan
Failed with gender
--------------------
459829
1987
2007
Age 20
GENDER 0
[[ 32.2999073   79.95176824 174.72349013 222.37535107]]
4.618147810205998
nan
Failed with gender
--------------------
459831
1987
2007
Age 20
GENDER 0
[[ 63.40900748 105.32701246 251.50802991 293.4260349 ]]
4.487365013173708
nan
Failed with gender
--------------------
459834
1987
2008
Age 21
GENDER 0
[[429.6  77.6 486.4 134.4]]
1.9380863393557766
nan
Failed with gender
--------------------
459835
1987
2011
Age 24
GENDER 0
[[1282  338 1424  480]]
1.9814993171993207
nan
Failed with gender
--------------------
459838
1987
2008
Age 21
GENDER 0
[[ 45.45860535  90.38521069 247.0963294  292.02293475]]
5.464967293652101
nan
Failed with gender
--------------------
459841
1987
2009
Age 22
GENDER 0
[[ 73.788  92.092 237.952 256.256]]
5.335007643206709
nan
Failed with gender
--------------------
459842
1987
2009
Age 22
GENDER 0
[[ 46.65488443 115.81821109 253.59886439 322.76219104]]
5.456835743709538
nan
Failed with gender
--------------------
459845
1987
2009
Age 22
GENDER 0
[[ 25.16262969  49.78125939 246.18629694 270.80492663]]
5.19020665220641
nan
Failed with gender
--------------------
459850
1987
2009
Age 22
GENDER 0
[[223.92888021 103.8902524  377.26425881 257.22563101]]
3.5061636586455864
nan
Failed with gender
--------------------
459856
1987
2011
Age 24
GENDER 0
[[113  97 184 168]]
1.8600612136085817
nan
Failed with gender
--------------------
459857
1987
2011
Age 24
GENDER 0
[[306 178 448 320]]
0.8875124092332896
nan
Failed with gender
--------------------
459872
1987
2013
Age 26
GENDER 0
[[640.82927657 241.59097871 878.32425529 479.08595743]]
2.251059414206052
nan
Failed with gender
--------------------
459883
1987
2009
Age 22
GENDER 0
[[121.36440677  79.0737644  175.20408982 132.91344745]]
1.2764795730747536
nan
Failed with gender
--------------------
459885
1987
2009
Age 22
GENDER 0
[[ 77.43   47.526 115.344  85.44 ]]
2.9809951401665415
nan
Failed with gender
--------------------
459886
1987
2011
Age 24
GENDER 0
[[149.13663422  80.61172612 199.86431529 131.33940719]]
2.93087657233997
nan
Failed with gender
--------------------
459887
1987
2011
Age 24
GENDER 0
[[1410  322 1552  464]]
1.518012374361011
nan
Failed with gender
--------------------
459888
1987
2009
Age 22
GENDER 0
[[ 85.974  47.526 123.888  85.44 ]]
3.012260612720839
nan
Failed with gender
--------------------
459889
1987
2009
Age 22
GENDER 0
[[104.13625875  52.33512938 161.8785293  110.07739993]]
3.582357770264937
nan
Failed with gender
--------------------
459890
1987
2009
Age 22
GENDER 0
[[ 69.93284474  83.81261369 194.31676529 208.19653423]]
3.2475007372367757
nan
Failed with gender
--------------------
459895
1987
2011
Age 24
GENDER 0
[[352.314  37.962 399.6    85.248]]
0.7979085134917046
nan
Failed with gender
--------------------
459899
1987
2011
Age 24
GENDER 0
[[656.47592374 192.00913915 844.48506289 380.0182783 ]]
2.04332577021347
nan
Failed with gender
--------------------
459901
1987
2011
Age 24
GENDER 0
[[1067.99207344  130.65421576 1231.40463656  294.06677888]]
3.292255460646194
nan
Failed with gender
--------------------
459902
1987
2011
Age 24
GENDER 0
[[592.94931841 238.37972736 768.23411393 413.66452288]]
2.723863813417738
nan
Failed with gender
--------------------
459904
1963
2005
Age 42
GENDER 0
[[ 48.18386094 111.71967554 190.60744378 254.14325837]]
4.65450393015099
nan
Failed with gender
--------------------
459905
1963
2005
Age 42
GENDER 0
[[102.676  43.092 140.448  80.864]]
2.764875477543963
nan
Failed with gender
--------------------
459906
1963
2009
Age 46
GENDER 0
[[ 63.34524525  94.75486788 204.16254708 235.5721697 ]]
4.159586869308219
nan
Failed with gender
--------------------
459907
1963
2007
Age 44
GENDER 0
[[ 78.52871165  91.52749692 194.98177912 207.98056439]]
5.41219778956812
nan
Failed with gender
--------------------
459908
1963
2002
Age 39
GENDER 0
[[ 52.33512938  65.28541172 168.35367048 181.30395282]]
5.396727753753577
nan
Failed with gender
--------------------
459910
1963
2004
Age 41
GENDER 0
[[114.95  31.35 154.    70.4 ]]
2.5839217518650894
nan
Failed with gender
--------------------
459911
1963
2004
Age 41
GENDER 0
[[ 78.85598958  67.6665625  179.03083333 167.84140625]]
5.187265815035897
nan
Failed with gender
--------------------
459912
1963
2009
Age 46
GENDER 0
[[ 81.45888745  81.45888745 202.25721864 202.25721864]]
3.4933956028729853
nan
Failed with gender
--------------------
459913
1963
2006
Age 43
GENDER 0
[[ 32.42133552 128.08334208 175.38034535 271.04235191]]
3.987968070056136
nan
Failed with gender
--------------------
459914
1963
2015
Age 52
GENDER 0
[[529.01566775 265.53183388 865.73259702 602.24876314]]
5.4564133962094115
nan
Failed with gender
--------------------
459915
1963
2002
Age 39
GENDER 0
[[ 80.93434936  96.98881923 224.76257821 240.81704809]]
4.253120917751962
nan
Failed with gender
--------------------
459916
1963
2006
Age 43
GENDER 0
[[102.676  43.092 140.448  80.864]]
2.682671644686167
nan
Failed with gender
--------------------
459917
1963
2009
Age 46
GENDER 0
[[ 93.798  47.142 128.304  81.648]]
2.659937321177234
nan
Failed with gender
--------------------
459918
1963
2009
Age 46
GENDER 0
[[ 82.3379402   82.3379402  204.43985049 204.43985049]]
3.970977308550931
nan
Failed with gender
--------------------
459919
1963
2014
Age 51
GENDER 0
[[627.35117212 163.41656055 806.84280273 342.90819116]]
2.3331036665152736
nan
Failed with gender
--------------------
459920
1963
2012
Age 49
GENDER 0
[[ 788.48   395.264 1376.256  983.04 ]]
4.687254560760831
nan
Failed with gender
--------------------
459921
1963
2006
Age 43
GENDER 0
[[ 34.58   85.652 187.264 238.336]]
5.209107940836994
nan
Failed with gender
--------------------
459922
1963
2015
Age 52
GENDER 0
[[ 800.78162403  544.0458163  1055.46943175  798.73362403]]
3.1825408971173057
nan
Failed with gender
--------------------
459923
1963
2015
Age 52
GENDER 0
[[ 347.94908176  520.89962264 1124.17851573 1297.12905661]]
4.656400569160223
nan
Failed with gender
--------------------
459924
1963
2002
Age 39
GENDER 0
[[ 65.04089707  90.8444559  180.6249118  206.42847063]]
3.6503682224173755
nan
Failed with gender
--------------------
459925
1963
2002
Age 39
GENDER 0
[[ 98.42   38.836 136.192  76.608]]
1.4123191782708349
nan
Failed with gender
--------------------
459929
1974
2004
Age 30
GENDER 1
[[328.85790517  66.28198103 426.68587672 164.10995258]]
3.4237275522017723
nan
Failed with gender
--------------------
459930
1974
2011
Age 37
GENDER 1
[[ 453.73457236  227.89128618 1129.2164309   903.37314472]]
1.6498832333008155
nan
Failed with gender
--------------------
459931
1974
2011
Age 37
GENDER 1
[[809.80507487 563.96596513 965.79650256 719.95739282]]
3.11771655560025
nan
Failed with gender
--------------------
459936
1981
2013
Age 32
GENDER 1

In [15]:
from shutil import copy2
import cv2


place = wikiPlace
where = 'wiki_crop'
total = 0





listyList = []

for i in range(62328):
  if i % 10000 ==0:
    print(i)

  bYear = int(place[0][0][i]/365) #birth year
  taken = place[1][0][i] #photo taken
  path = place[2][0][i][0]
  gender = place[3][0][i] #Female/Male
  name = place[4][0][i] #Name
  faceBox = place[5][0][i] #Face coords
  faceScore = place[6][0][i] #Face score
  secFaceScore = place[7][0][i] #Sec face score

  #Calculating shit
  age = taken - bYear

  faceScore = str(faceScore)
  secFaceScore = str(secFaceScore)




  if 'n' not in faceScore: # n as in Inf; if true, implies that there isn't a face in the image

   if 'a' in secFaceScore: #a as in NaN; implies that no second face was found

     if age >= 0:

      try:
        gender = int(gender)
        total += 1

        if i > 5000:

          print('----------------------')

          print(bYear)
          print(taken)
          print("AGE", age)
          print("NAME", name)
          print("GENDER", gender)
          print(faceBox)
          print(faceScore)
          print(secFaceScore)

          imShow(os.path.join(where,path))
          break

      except:
        print('Failed with gender')
        continue






print(total)

Streaming output truncated to the last 5000 lines.
NAME ['Yasuaki Shimizu']
GENDER 1
[[160.99119237  58.0625687  263.03981604 160.11119237]]
1.3166680018320664
nan
Failed with gender
----------------------
1978
2012
AGE 34
NAME ['Cüneyt Çakır']
GENDER 1
[[162.61672838  57.48785493 234.51825616 129.38938271]]
3.1058098306186945
nan
Failed with gender
----------------------
1943
1962
AGE 19
NAME ['Prince William of Gloucester']
GENDER 1
[[102.64889859 136.59719811 402.         441.32789387]]
4.710507178689154
nan
Failed with gender
----------------------
1984
2011
AGE 27
NAME ['Lloyd Langford']
GENDER 1
[[178.79040122  97.92203703 323.47345677 242.60509258]]
3.4087626712027697
nan
Failed with gender
----------------------
1938
2002
AGE 64
NAME ['Gwyneth Jones']
GENDER 0
[[160.99119237 103.80862367 263.03981604 205.85724733]]
4.191857686781647
nan
Failed with gender
----------------------
1996
2010
AGE 14
NAME ['Zach Veach']
GENDER 1
[[196.9976309   49.90940772 306.43379828 159.34557511]]
3.3908527525935175
nan
Failed with gender
----------------------
1960
2010
AGE 50
NAME ['Stephan Van Dam']
GENDER 1
[[103.85295608  41.87838243 196.25281655 134.27824291]]
3.5059054606275595
nan
Failed with gender
----------------------
1986
2014
AGE 28
NAME ['Adam Cracknell']
GENDER 1
[[ 93.91861882  77.00977904 169.08839786 152.17955807]]
0.9790179609224767
nan
Failed with gender
----------------------
1987
2013
AGE 26
NAME ['Pierre-Cédric Labrie']
GENDER 1
[[224.03347859  56.69836965 323.51454396 156.17943501]]
3.5623064912386226
nan
Failed with gender
----------------------
1948
2013
AGE 65
NAME ['Gene Robinson']
GENDER 1
[[160.99119237  92.37210993 365.9684397  297.34935726]]
1.041689411007905
nan
Failed with gender
----------------------
1975
2012
AGE 37
NAME ['Montel Vontavious Porter']
GENDER 1
[[197.05741458 151.78570353 331.99254776 286.7208367 ]]
3.297721525532275
nan
Failed with gender
----------------------
1897
1945
AGE 48
NAME ['Princess Calixta of Lippe']
GENDER 0
[[109.25160159  73.04773439 173.77856254 137.57469535]]
3.5760520356030323
nan
Failed with gender
----------------------
1918
1948
AGE 30
NAME ['Vic Obeck']
GENDER 1
[[237.37972736 207.83226144 325.02212512 295.4746592 ]]
2.9588161867458695
nan
Failed with gender
----------------------
1994
2015
AGE 21
NAME ['Sam Oldham']
GENDER 1
[[169.84  85.36 295.68 211.2 ]]
6.052482798956196
nan
Failed with gender
----------------------
1992
2011
AGE 19
NAME ['Ana-Maria Crnogorčević']
GENDER 0
[[122.22159338 104.88708004 277.35221344 260.0177001 ]]
5.058205317150266
nan
Failed with gender
----------------------
1965
2010
AGE 45
NAME ['Nicholas Benson']
GENDER 1
[[ 46.62605496 206.73724733 251.6033023  411.71449467]]
4.342194691409513
nan
Failed with gender
----------------------
1970
2011
AGE 41
NAME ['Danny Boy']
GENDER 1
[[106.51399247 227.23855529 241.44912564 362.17368846]]
2.0243321723932324
nan
Failed with gender
----------------------
1966
2011
AGE 45
NAME ['John Crissey III']
GENDER 1
[[ 49.90940772 196.9976309  269.66174249 416.74996566]]
3.6874949441244373
nan
Failed with gender
----------------------
1976
2010
AGE 34
NAME ['Hans á Lag']
GENDER 1
[[278.39036789  64.13135634 390.7076093  176.44859775]]
1.9649069850224508
nan
Failed with gender
----------------------
1989
2012
AGE 23
NAME ['Eesha Karavade']
GENDER 0
[[112.3520283   56.61601415 278.68007076 222.9440566 ]]
6.365166022515147
nan
Failed with gender
----------------------
1954
2012
AGE 58
NAME ['Barry Sonnenfeld']
GENDER 1
[[105.97683617  79.70262713 341.56471754 315.2905085 ]]
4.260432214859335
nan
Failed with gender
----------------------
1983
2007
AGE 24
NAME ['Mekia Cox']
GENDER 0
[[119.6437429   37.30084397 201.28264184 118.9397429 ]]
2.8236168219143623
nan
Failed with gender
----------------------
1919
1988
AGE 69
NAME ['John Call Cook']
GENDER 1
[[134.51656652  89.94437768 334.29141631 289.71922746]]
3.970111948748923
nan
Failed with gender
----------------------
1969
2013
AGE 44
NAME ['Denise Kiernan']
GENDER 0
[[141.68 254.32 267.52 380.16]]
3.7740538959928753
nan
Failed with gender
----------------------
1910
1946
AGE 36
NAME ['Tris Coffin']
GENDER 1
[[ 56.61601415 149.50937107 222.9440566  315.83741352]]
4.046565245491015
nan
Failed with gender
----------------------
1945
1963
AGE 18
NAME ['Charlie Williams']
GENDER 1
[[ 65.552  30.736 104.448  69.632]]
2.8398747987531197
nan
Failed with gender
----------------------
1935
2006
AGE 71
NAME ['Paulo César Saraceni']
GENDER 1
[[123.45351931 123.45351931 343.20585407 343.20585407]]
3.605611905095935
nan
Failed with gender
----------------------
1955
1987
AGE 32
NAME ['User:Joe Esposito']
GENDER 1
[[107.548  96.86  154.976 144.288]]
1.9285220866132091
nan
Failed with gender
----------------------
1988
2006
AGE 18
NAME ['Arjun Muralidharan']
GENDER 1
[[160.22557511  98.93881545 269.66174249 208.37498283]]
5.930069562668212
nan
Failed with gender
----------------------
1994
2013
AGE 19
NAME ['Navneet Kaur Dhillon']
GENDER 0
[[115.76211054 130.13462436 244.3327349  258.70524872]]
4.886197122039988
nan
Failed with gender
----------------------
1980
2000
AGE 20
NAME ['User:RobBertholf/sandbox']
GENDER 1
[[165.36   80.496 209.664 124.8  ]]
1.0852753461781566
nan
Failed with gender
----------------------
1971
2008
AGE 37
NAME ['User talk:Rocket.Man24']
GENDER 1
[[192.95160331  64.90386777 384.14320662 256.09547108]]
4.5319187272916786
nan
Failed with gender
----------------------
1992
2013
AGE 21
NAME ['Sherwood Brown']
GENDER 1
[[ 65.73703714 108.7810619  258.26414855 301.30817331]]
1.9113866153983385
nan
Failed with gender
----------------------
1991
2014
AGE 23
NAME ['Iamsu!']
GENDER 1
[[151.78570353 257.41969599 286.7208367  392.35482917]]
4.488927523156017
nan
Failed with gender
----------------------
1981
2009
AGE 28
NAME ['Joey Ryan']
GENDER 1
[[170.51950476 122.03164626 387.90286803 339.41500953]]
1.123430427713354
nan
Failed with gender
----------------------
1992
2013
AGE 21
NAME ['Rachel Quon']
GENDER 0
[[158.20807978 105.80805319 275.10013962 222.70011302]]
5.050907265032725
nan
Failed with gender
----------------------
1984
2014
AGE 30
NAME ['Aleksandr Anyukov']
GENDER 1
[[ 85.23668223  85.23668223 337.88272893 337.88272893]]
2.55448025887117
nan
Failed with gender
----------------------
1993
2014
AGE 21
NAME ['Prince Shembo']
GENDER 1
[[158.79870676  38.03734277 241.52272799 120.76136399]]
1.4832026250933406
nan
Failed with gender
----------------------
1985
2011
AGE 26
NAME ['T.J. Perkins']
GENDER 1
[[ 75.75556867  68.2340118  142.90958047 135.3880236 ]]
3.548941546170221
nan
Failed with gender
----------------------
1995
2015
AGE 20
NAME ['Seidu Salifu']
GENDER 1
[[183.92  57.2  246.4  119.68]]
1.1264700862485038
nan
Failed with gender
----------------------
1914
1995
AGE 81
NAME ['Michelangelo Antonioni']
GENDER 1
[[107.07 107.07 345.28 345.28]]
0.8817557699294023
nan
Failed with gender
----------------------
1991
2012
AGE 21
NAME ['Luke Newberry']
GENDER 1
[[  0.88       107.58644628 192.07160331 298.77804959]]
3.26790436500654
nan
Failed with gender
----------------------
1953
2008
AGE 55
NAME ['Sheila Butt']
GENDER 0
[[ 85.36 141.68 337.92 394.24]]
4.311693141190595
nan
Failed with gender
----------------------
1987
2010
AGE 23
NAME ['Ruben Zadkovich']
GENDER 1
[[191.394  14.994 254.016  77.616]]
0.9559215245940259
nan
Failed with gender
----------------------
1995
2009
AGE 14
NAME ['Julia Garner']
GENDER 0
[[160.17701567 160.17701567 338.50615829 338.50615829]]
2.5712249954015647
nan
Failed with gender
----------------------
1989
2010
AGE 21
NAME ['Raghavendran Rajasekaran']
GENDER 1
[[130.97392191 116.49237503 260.66784382 246.18629694]]
4.338039815672099
nan
Failed with gender
----------------------
1986
2014
AGE 28
NAME ['Andrey Batt']
GENDER 1
[[ 43.22425314 169.89701258 422.24253145 548.91529088]]
3.634111671730457
nan
Failed with gender
----------------------
1967
2003
AGE 36
NAME ['Goldie']
GENDER 1
[[ 76.28151276 177.1368631  302.56605102 403.42140136]]
2.385640590649683
nan
Failed with gender
----------------------
1921
1989
AGE 68
NAME ['Seymour Slive']
GENDER 1
[[102.88283363 146.6111909  233.21790545 276.94626272]]
4.236073452612825
nan
Failed with gender
----------------------
1993
2014
AGE 21
NAME ['Sam Smith']
GENDER 1
[[149.50937107 130.93069969 315.83741352 297.25874214]]
2.2567897216832535
nan
Failed with gender
----------------------
1982
2011
AGE 29
NAME ['Peter Oberth']
GENDER 1
[[ 74.42411159 172.48292704 294.17644635 392.2352618 ]]
1.0967730090590042
nan
Failed with gender
----------------------
1994
2012
AGE 18
NAME ['Shauna Coxsey']
GENDER 0
[[121.60456282 219.69327011 188.63212941 286.7208367 ]]
4.6626635835528685
nan
Failed with gender
----------------------
1932
2011
AGE 79
NAME ['Brian Dobson']
GENDER 1
[[102.12969628  13.32971204 215.6571046  126.85712035]]
0.921577557161658
nan
Failed with gender
----------------------
1968
2011
AGE 43
NAME ['Isabelle Patissier']
GENDER 0
[[140.26488871 140.26488871 318.59403133 318.59403133]]
1.9083691215419916
nan
Failed with gender
----------------------
1993
2013
AGE 20
NAME ['Wu Mochou']
GENDER 0
[[219.91339654 120.35276175 308.63796785 209.07733306]]
2.1934053944401057
nan
Failed with gender
----------------------
1905
1941
AGE 36
NAME ['Cary Grant']
GENDER 1
[[ 53.42841808 158.52525425 289.01629946 394.11313563]]
5.222264674765904
nan
Failed with gender
----------------------
1990
2014
AGE 24
NAME ['Robert Alford']
GENDER 1
[[146.44305555  81.74836419 291.12611109 226.43141974]]
2.736678087488125
nan
Failed with gender
----------------------
1993
2013
AGE 20
NAME ['Yener Arıca']
GENDER 1
[[247.28  78.32 309.76 140.8 ]]
1.111810555549241
nan
Failed with gender
----------------------
1980
2007
AGE 27
NAME ['Albert Jorquera']
GENDER 1
[[249.87441082  76.33285176 316.9019774  143.36041835]]
3.5612266559306436
nan
Failed with gender
----------------------
1971
2010
AGE 39
NAME ['Ricardo Bernal']
GENDER 1
[[136.69513317  76.33285176 271.63026635 211.26798494]]
2.603226679778345
nan
Failed with gender
----------------------
1989
2008
AGE 19
NAME ['Saurabh Pandey']
GENDER 1
[[ 76.33285176  91.42342212 211.26798494 226.35855529]]
5.346600538522223
nan
Failed with gender
----------------------
1989
2012
AGE 23
NAME ['Anna Stöhr']
GENDER 0
[[232.63601773  73.10988054 297.29871022 137.77257303]]
0.9830503028557
nan
Failed with gender
----------------------
1967
2008
AGE 41
NAME ['Chris Spielman']
GENDER 1
[[138.65560898  32.98731976 211.33657844 105.66828922]]
0.9394461298946858
nan
Failed with gender
----------------------
1977
2014
AGE 37
NAME ['Tomohiro Ishii']
GENDER 1
[[127.27275943  38.60182783 240.67824292 152.00731132]]
2.935390268804581
nan
Failed with gender
----------------------
1961
2006
AGE 45
NAME ['Andy Kershaw']
GENDER 1
[[186.58671384 102.13820755 337.79402516 253.34551887]]
4.696472378163104
nan
Failed with gender
----------------------
1964
2014
AGE 50
NAME ['Tad Hills']
GENDER 1
[[229.61027481 138.11816489 331.65889848 240.16678855]]
4.283275650191563
nan
Failed with gender
----------------------
1950
1984
AGE 34
NAME ['Andrew Eiva']
GENDER 1
[[ 77.2  45.2 134.4 102.4]]
1.8893191764820176
nan
Failed with gender
----------------------
1999
2015
AGE 16
NAME ['John Bell']
GENDER 1
[[212.12126572 106.56063286 306.1258353  200.56520244]]
3.7600079668203628
nan
Failed with gender
----------------------
1945
2007
AGE 62
NAME ['Konrad Zdarsa']
GENDER 1
[[ 50.67135241 125.65838102 274.95243825 349.93946687]]
3.616640085980894
nan
Failed with gender
----------------------
1955
2014
AGE 59
NAME ['Arne Larsen Økland']
GENDER 1
[[131.85   94.346 300.032 262.528]]
4.027382801374766
nan
Failed with gender
----------------------
1941
2010
AGE 69
NAME ['José Basulto']
GENDER 1
[[162.61672838  81.74836419 307.29978393 226.43141974]]
3.254585933758755
nan
Failed with gender
----------------------
1959
2007
AGE 48
NAME ['Eric Heiden']
GENDER 1
[[172.48292704  86.68146352 281.91909442 196.1176309 ]]
3.9875417034284157
nan
Failed with gender
----------------------
1982
2011
AGE 29
NAME ['Pavsekakiy Bogdanov']
GENDER 1
[[251.69206368  93.77335692 334.41608491 176.49737814]]
2.6084709044219028
nan
Failed with gender
----------------------
1975
2012
AGE 37
NAME ['Robert Janecki']
GENDER 1
[[ 92.37210993  92.37210993 297.34935726 297.34935726]]
3.5556901556639993
nan
Failed with gender
----------------------
1995
2014
AGE 19
NAME ['Matt Ingram']
GENDER 1
[[289.89629946 132.25104521 407.25024015 249.6049859 ]]
2.631341802072949
nan
Failed with gender
----------------------
1914
1969
AGE 55
NAME ['Paul Rivière']
GENDER 1
[[107.58644628 107.58644628 298.77804959 298.77804959]]
4.335206591597874
nan
Failed with gender
----------------------
1992
2014
AGE 22
NAME ['D. J. Swearinger']
GENDER 1
[[201.53599219  62.63415144 339.53783293 200.63599219]]
2.976912198980631
nan
Failed with gender
----------------------
1997
2014
AGE 17
NAME ['Aaron Gordon']
GENDER 1
[[120.35276175 319.47403133 209.07733306 408.19860264]]
2.392213072118954
nan
Failed with gender
----------------------
1969
2006
AGE 37
NAME ['Becky Anderson']
GENDER 0
[[140.26488871 120.35276175 318.59403133 298.68190437]]
5.154229599030039
nan
Failed with gender
----------------------
1945
2015
AGE 70
NAME ['Austin Stoker']
GENDER 1
[[ 85.36 141.68 337.92 394.24]]
2.9089486535595026
nan
Failed with gender
----------------------
1950
1976
AGE 26
NAME ['Jim Rutherford']
GENDER 1
[[ 97.92203703 162.61672838 388.16814812 452.86283947]]
4.9335257516134075
nan
Failed with gender
----------------------
1965
2014
AGE 49
NAME ["Tatum O'Neal"]
GENDER 0
[[ 74.42411159  74.42411159 294.17644635 294.17644635]]
3.70537921719649
nan
Failed with gender
----------------------
1971
2014
AGE 43
NAME ['Carlos Contreras']
GENDER 1
[[229.86946002 150.22095219 318.59403133 238.9455235 ]]
2.244683693223755
nan
Failed with gender
----------------------
1953
2014
AGE 61
NAME ['Bob Costas']
GENDER 1
[[139.80184074  62.63415144 277.80368149 200.63599219]]
4.308291001638591
nan
Failed with gender
----------------------
1974
2013
AGE 39
NAME ['Makoto Shinkai']
GENDER 1
[[141.68 155.76 267.52 281.6 ]]
2.1347539613480233
nan
Failed with gender
----------------------
1927
1973
AGE 46
NAME ['Emile Francis']
GENDER 1
[[115.24513741  92.37210993 320.22238474 297.34935726]]
4.464146598713026
nan
Failed with gender
----------------------
1971
2006
AGE 35
NAME ['Kyan Douglas']
GENDER 1
[[ 83.97464539 104.76830673 270.31759751 291.11125885]]
6.067752506207951
nan
Failed with gender
----------------------
1980
2010
AGE 30
NAME ['Jai Rodriguez']
GENDER 1
[[149.50937107 112.3520283  315.83741352 278.68007076]]
4.930045432190532
nan
Failed with gender
----------------------
1949
2005
AGE 56
NAME ['Len Wein']
GENDER 1
[[271.46143657  68.55535914 346.6312156  143.72513818]]
2.0592273145205513
nan
Failed with gender
----------------------
1942
2008
AGE 66
NAME ['Roy Thomas']
GENDER 1
[[176.68296716  50.96941919 289.14116033 163.42761236]]
3.823520174381443
nan
Failed with gender
----------------------
1923
1976
AGE 53
NAME ['Leon Bibb']
GENDER 1
[[212.08  29.04 337.92 154.88]]
1.519092711648693
nan
Failed with gender
----------------------
1979
2009
AGE 30
NAME ['Fernando Meira']
GENDER 1
[[ 67.22308312  89.44277749 266.63633246 288.85602684]]
3.799349858547847
nan
Failed with gender
----------------------
1895
1964
AGE 69
NAME ['Minerva Urecal']
GENDER 0
[[155.53153227  69.54734767 309.54306453 223.55887994]]
3.0804813114937257
nan
Failed with gender
----------------------
1985
2013
AGE 28
NAME ['Dmitri Sychev']
GENDER 1
[[ 84.63435222  78.16232513 142.38459607 135.91256898]]
5.220581647927131
nan
Failed with gender
----------------------
1932
2008
AGE 76
NAME ['Michael English']
GENDER 1
[[147.74822317  92.59013948 312.56247425 257.40439056]]
1.4097294043878317
nan
Failed with gender
----------------------
1898
1942
AGE 44
NAME ['William Stephenson']
GENDER 1
[[  0.63        98.88004986 294.75014959 393.00019945]]
4.150322294903491
nan
Failed with gender
----------------------
1983
2007
AGE 24
NAME ['Dian Sastrowardoyo']
GENDER 0
[[ 33.3485588   82.48939699 180.18307339 229.32391159]]
5.586473328113597
nan
Failed with gender
----------------------
1954
2008
AGE 54
NAME ['Cornel West']
GENDER 1
[[130.93069969  93.77335692 297.25874214 260.10139937]]
2.8084967018212237
nan
Failed with gender
----------------------
1866
1951
AGE 85
NAME ['Robert Grant Aitken']
GENDER 1
[[ 58.05  58.05 187.2  187.2 ]]
3.5253054003423205
nan
Failed with gender
----------------------
1988
2014
AGE 26
NAME ['Brian Saah']
GENDER 1
[[ 19.45867138  75.19468553 185.78671384 241.52272799]]
0.7422464662318959
nan
Failed with gender
----------------------
1977
2008
AGE 31
NAME ['Elsa Pataky']
GENDER 0
[[ 57.23754077  45.87163262 159.12271416 147.75680601]]
3.7439656631614513
nan
Failed with gender
----------------------
1921
2002
AGE 81
NAME ['Morris Kight']
GENDER 1
[[ 81.74836419 243.48509258 226.43141974 388.16814812]]
3.2078838644905203
nan
Failed with gender
----------------------
1985
2015
AGE 30
NAME ['Justin Baldoni']
GENDER 1
[[155.76 113.52 281.6  239.36]]
4.270973795907407
nan
Failed with gender
----------------------
1960
2013
AGE 53
NAME ['Chris Raschka']
GENDER 1
[[ 79.79324245 197.98310614 433.3628335  551.55269718]]
4.556228563174164
nan
Failed with gender
----------------------
1943
1967
AGE 24
NAME ['Valora Noland']
GENDER 0
[[ 17.77451334  52.44354002 173.3451334  208.01416008]]
4.338551892471336
nan
Failed with gender
----------------------
1972
2014
AGE 42
NAME ['Nathan Fillion']
GENDER 1
[[ 97.92203703 162.61672838 388.16814812 452.86283947]]
5.114012760713175
nan
Failed with gender
----------------------
1938
1990
AGE 52
NAME ['John Arpin']
GENDER 1
[[ 27.38286173 107.7554469  267.90861726 348.28120243]]
2.8013800717963973
nan
Failed with gender
----------------------
1928
2011
AGE 83
NAME ['Dieter Hildebrandt']
GENDER 1
[[208.77290336 119.66994478 475.2157791  386.11282052]]
2.993055618105256
nan
Failed with gender
----------------------
1904
1958
AGE 54
NAME ['Margaret Hamilton']
GENDER 0
[[141.25721409  94.47147606 350.89303523 304.1072972 ]]
4.444129916990499
nan
Failed with gender
----------------------
1952
2007
AGE 55
NAME ['Crystal Gayle']
GENDER 0
[[181.96684423 106.51399247 316.9019774  241.44912564]]
3.165343745847213
nan
Failed with gender
----------------------
1962
2012
AGE 50
NAME ['Michael J. Fox']
GENDER 1
[[137.172 123.54  259.008 245.376]]
4.8095437455356285
nan
Failed with gender
----------------------
1961
2014
AGE 53
NAME ['Charlie Strong']
GENDER 1
[[104.88708004 104.88708004 416.02832016 416.02832016]]
3.128874069416435
nan
Failed with gender
----------------------
1953
1987
AGE 34
NAME ['Harry Hamlin']
GENDER 1
[[115.24513741 138.11816489 320.22238474 343.09541222]]
3.5868454932711202
nan
Failed with gender
----------------------
1972
2013
AGE 41
NAME ['Pavel Stratan']
GENDER 1
[[182.28095868  64.90386777 277.43676033 160.05966942]]
4.24794396581073
nan
Failed with gender
----------------------
1909
1970
AGE 61
NAME ['Eberhard Rees']
GENDER 1
[[167.94570815 134.51656652 267.43313304 234.00399141]]
3.9450049110192777
nan
Failed with gender
----------------------
1949
1976
AGE 27
NAME ['Heinz Flohe']
GENDER 1
[[171.61031405  96.91580165 266.76611571 192.07160331]]
3.2280992697935447
nan
Failed with gender
----------------------
1956
1990
AGE 34
NAME ['Uwe Reinders']
GENDER 1
[[ 97.80586026 117.20703231 271.61640872 291.01758077]]
1.9798168492285937
nan
Failed with gender
----------------------
1963
2012
AGE 49
NAME ['Karan Bilimoria, Baron Bilimoria']
GENDER 1
[[ 87.5525667  122.22159338 242.68318676 277.35221344]]
2.0815335663500165
nan
Failed with gender
----------------------
1936
2012
AGE 76
NAME ['Rico Rodriguez']
GENDER 1
[[169.84  43.12 295.68 168.96]]
1.0258154829862998
nan
Failed with gender
----------------------
1976
2006
AGE 30
NAME ['Casey Affleck']
GENDER 1
[[ 49.21833962  49.21833962 267.53286793 267.53286793]]
4.977326203881845
nan